.root {
  position: relative;
  width: 100vw;
  /* height: 100vh; */
  overflow: hidden
}

.title {
  width: 90%;
  animation: titleSlide 0.6s ease-in
}

.container {
  margin-top: 104px;
}

@keyframes titleSlide {
  from {
    margin-left: -300px
  }

  to {
    margin-left: 0px
  }
}

.startBox {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  transition: all 0.6s ease;
}


.buttonBox {
  width: 100%;
  display: flex;
  justify-content: center
}

.button {
  font-size: 18px;
  animation: buttonFadeIn 0.6s ease-in
}


@keyframes buttonFadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.backgroundImage {
  position: absolute;
  bottom: 0px;
  right: -80px;
  z-index: -1;
  transform: rotate(25deg);
  animation: imageSlide 0.6s ease-in
}

@keyframes imageSlide {
  from {
    right: -500px;
    bottom: -300px
  }

  to {
    right: -80px;
    bottom: 0px
  }
}

.backgroundEllipseTop {
  position: absolute;
  top: -200px;
  left: -100px;
  z-index: -1;
  transform: rotate(25deg) scale(1.2);
  animation: ellipseTopSlide 1.2s ease;
}

@keyframes ellipseTopSlide {
  from {
    top: -500px;
    left: -300px;
  }

  to {
    top: -200px;
    left: -100px;
  }
}

.backgroundEllipseBottom {
  position: absolute;
  bottom: -100px;
  right: 120px;
  z-index: -1;
  transform: rotate(25deg) scale(1.7);
  animation: ellipseBottomSlide 0.6s ease;
}

@keyframes ellipseBottomSlide {
  from {
    right: -500px;
    bottom: -300px;
  }

  to {
    right: 120px;
    bottom: -100px
  }
}

.appCard {
  transition: 0.6s;
  animation: fade 0.6s ease;
}

@keyframes fade {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}